# Maven
/target/
**/target/
/.mvn
.mvn/

# Java
*.class
*.jar
*.war
*.ear

# IDE
*.iml
*.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# yt-dlp and generated artifacts
**/captured_frames/
**/*.mp4
**/*.mkv
**/*.webm
**/video.*
**/*.pdf
